<div class="container">
  <div class="row" style="margin:15px;">
    <div class="col">
      <div class="d-flex justify-content-end">
        <button type="button" class="btn btn-primary" (click)="on_BatchSaveClicked()"> Batch Save</button>
      </div>
    </div>
  </div>

  <div class="row">
    <ngx-datatable #mainTable class="material" [columnMode]="'force'" [rowHeight]="50" [headerHeight]="75"
      [rows]="countiesArray">

      <ngx-datatable-column name="İl" [sortable]="false">
        <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
          <span *ngIf="!editing[rowIndex]">{{GetCityNameById(row.city)}}</span>
          <select *ngIf="editing[rowIndex]" (change)="updateValue($event, 'city', rowIndex)">
            <option *ngFor="let x of citiesArray; let i = index" >{{x.name}}</option>
          </select>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="İlçe Id" [sortable]="false">
        <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
          <span *ngIf="!editing[rowIndex]">
            {{row.id}}
          </span>
          <input *ngIf="editing[rowIndex]" autofocus (blur)="updateValue($event, 'id', rowIndex)" type="text"
            [value]="row.id" />
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="İlçe Adı" [sortable]="false">
        <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="row.name" let-row="row">
          <span *ngIf="!editing[rowIndex]">
            {{ value }}
          </span>
          <input *ngIf="editing[rowIndex]" autofocus (blur)="updateValue($event, 'name', rowIndex)" type="text"
            [value]="row.name" />
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="Düzenle" [sortable]="false">
        <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex">
          <button (click)="ToggleEdit($event,rowIndex)">Düzenle</button>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="Kaydet" [sortable]="false">
        <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex">
          <button (click)="SaveChangesByRowIndex(rowIndex)">Kaydet</button>
        </ng-template>
      </ngx-datatable-column>

    </ngx-datatable>
  </div>
</div>